body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    font-family: 'Press Start 2P', 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2 {
    margin-bottom: 0;
}

canvas {
    display: block;
    background-color: #000;
    /* Debug: Ensure canvas is visible */
    position: relative;
    z-index: 1;
}

.ui-element {
    position: absolute;
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    z-index: 10;
}

#ui {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    z-index: 10;
}

#timer {
    margin-top: 10px;
    font-size: 20px;
}

#pause-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

#pause-icon {
    width: 20px;
    height: 20px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-style: double;
    box-sizing: border-box;
}